<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Facturacion App</title>
<link href="app/node_modules/bootstrap/dist/css/bootstrap.min.css"
	rel="stylesheet">

<script src="app/node_modules/jquery/dist/jquery.min.js"></script>
<script src="app/node_modules/angular/angular.min.js"></script>
<script src="app/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="app/node_modules/angular-resource/angular-resource.min.js"></script>
<script src="app/node_modules/angular-route/angular-route.min.js"></script>
<script src="index.js"></script>
 <script src="app/componentes/listar-ordenes/listar-ordenes.js"></script>
</head>
<body ng-app="app" ng-controller="ctrlIndex">
	<br />
	<div class="container">
		<div class="row">
			<div class="col-md-6 bg-primary col-md-offset-3 text-center">
				<label for="cliente" class="col-sm-2 col-form-label">Cliente:</label>
				<div class="col-sm-8">
					<select id="cliente" name="cliente" ng-options="cliente.custumerId as (cliente.name + ' - ' + cliente.email) for cliente in lstClientes" ng-model="cliente" class="form-control"></select>
				</div>
				<div class="col-sm-2">
					<button class="btn btn-primary" ng-click="cargarOrdenes()">Listar ordenes</button>
				</div>
			</div>
		</div>
		
		<div class="row">
			<div class="col-sm-12 col-md-12  " id="contenidoDinamico">
				<div ng-view></div>
			</div>
		</div>
	</div>

	<script>
		$(function() {
			console.log('Ya tenemos jquery');
		});
	</script>

</body>
</html>